
<nav class="navbar">
    <div>
        <a href="/products"> Home </a>
        <span> | </span>
        <input type="text" id="searchBar" placeholder="Search..">
        <span> | </span>
        <a href="/profile">Profile</a>
    </div>
</nav>

<script type="text/javascript">
    const log = document.getElementById('searchBar');
    document.addEventListener('keyup', logKey);
    function logKey(e) {
        const value = log.value;
        if (e.key === 'Enter' || e.keyCode === 13) {
            window.location.href='/products/search/'+value
        }
    };
</script>