<nav class="navbar">
    <div>
        <a href="/"> Home </a> 
        <span> | </span>
        <input type="text" id="searchBar" placeholder="Search..">
        <span> | </span>
        <a href="/profile">Profile</a>
    </div>
</nav>