<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <h1>New Review Page</h1>
        <form action="/reviews" method="POST">
            <label>
                Rating (Number)
                <input type="number"  name="rating"/>
            </label></br>
            <label>
                Your Review (String)
                <input type="string" name="content"/>
            </label><br/>
            <label>
                Related Product
                <select name="product">
                    <% for (let i = 0;i<products.length;i++){%>
                        <option value="<%=products[i]._id%>"><%=products[i].name%> </option>
                    <%}%>
                 
                </select>
            </label><br/>
            <input type="submit" value="create review"/>
        </form>

      
    </body>

</html>